crai
.vscode
__pycache__
__logs__
output.png
tmp*
executed_trainings/*/log_*/
executed_trainings/*/target_*/
executed_trainings/*/temp_*/
executed_trainings/*/model_*/images/
measurements/Test
copernicus_api.env
station_data_as_nc
station_data_raw_original
station_data_processed
station_data_raw
eda2.ipynb
eda
era5_data