crai
Additional_Data
converted_era5_data
EDA
era5
era5_data
ERA5_DRKZ
era5_vienna
ERA5hook_marshall
ERA5_vienna_allvar
simplified_training
testing_training

.vscode
__pycache__
__logs__
old_files
tmp*
executed_trainings
measurements
copernicus_api.env
station_data_as_nc
station_data_raw_original
station_data_processed
station_data_raw

eda2.ipynb
converted_era5_data

Training_Marshall 
prepare_training
